/* li{
    color: rgb(0, 89, 255);
}
.pink{
    color: pink;
} */


.pink{
    color: rgb(red, green, blue);
}
.pink{
    color: rgba(red, green, blue, alpha);
    /* alpha indicates opacity */
}

.pink{
    color: #ffffff; /*ffffff =rrggbb */
    color: #ffff00; /* rr=50% gg=50% bb=0 */
    color: #ff0000; /* rr= 100% gg=0 bb=0 */
}

/* .pink{
    color: rgb(red, green, blue);
} */


body{
    background-color: rgb(235, 210, 210);
    /* backgr ound-image: url('image/image1.jpg'); */
    /* background-image: url('..image/image1.jpg'); two dots will be there if we want to fetch the image outside the folder*/
    background-repeat: no-repeat;
    /* background-repeat: repeat-x; */
    /* background-repeat: repeat-y; */
    background-position: right top;  
    background-attachment: fixed;  /* this will fix the image even when we scroll down the image doesn't move */
    margin: 0px;

    /* background: rgba(38, 81, 160, 0.596) url('image//image1.jpg') no-repeat fixed right bottom; */
    /* this is the way to right all the background commands in single line */
}

.pink{
    /* border-style: solid;
    border-width: 2px;
    border-color: black;
    border-style: dashed;
    border-top-style: solid; */
    border: green 2px solid;
    border-radius: 5px;
    /* margin: 35px; */
    margin-top: 15px;
    margin-left: 80px;
    margin-right: 100px;
    margin: 50px 60px 10px 0;
    /* the above shorthand property will have the order top-right-bottom-left */
    margin: auto; 
    width: 50%;
    height: 50px;
    /* margin: inherit;  */
    /* it will inherit the margin property of its parent i.e body */

    /* margin collape: 
    the margin between two elements will not be added the greater margin between those two elements will be the distance between them. */

    /* padding: it is same as margin but this is for the text written inside the border */

    padding: 50px;


    
}

.div{
    background: #34861b;
}
.ul{
    background: #87858a;
}
.pink{
    background: #9eb61a;
}